/* 
    Header styles
*/
.header {
    line-height: 40px;
    background-color: #282a36;
}

.page {
    background-color: #44475a;
    height: 100%;
    color: #f8f8f2 !important;
}

ion-grid {
    padding: 16px !important;

    ion-row {
        margin-bottom: 8px !important;
    }

    ion-avatar {
        height: 44px !important;
        width: 44px !important;
        img { border: 1.6px solid #f1fa8c; }
    }
    ion-title { color: #f8f8f2; }
}

.page-chat {
    
    .user_name {
        color: #44475a;
        font-weight: 600;
        opacity: 0.6;
    }
    .message {
        padding: 10px !important;
        transition: all 250ms ease-in-out !important;
        border-radius: 10px !important;
        margin-bottom: 4px !important;
    }
    .my_message {
        background: #fff !important;
        background: color(#fff, #fff) !important;
        color: #000 !important;
    }
    .other_message {
        background: #fff !important;
        color: #000 !important;
    }
    .time {
        color: #44475a;
        float: right;
        font-size: small;
        opacity: 0.2;
    }
    .message_row {
        background: #fff !important;
    }
}