
/* 
    Header styles
*/
.header {
    line-height: 40px;
    background-color: #282a36;
}
.page {
    background-color: #44475a;
    height: 100%
}
ion-grid {
    padding: 16px !important;
    ion-avatar {
        height: 44px !important;
        width: 44px !important;
        img { border: 1.6px solid #f8f8f2; }
    }
    ion-title { color: #f8f8f2; }
}