<ion-header>
  <ion-toolbar>
    <ion-grid class="header">
      <ion-row class="ion-justify-content-between">
        <ion-avatar>
          <img src="../../assets/images/orion.jpg">
        </ion-avatar>
        <ion-title>
          Orió
        </ion-title>
      </ion-row>
    </ion-grid>
  </ion-toolbar>  
</ion-header>

<ion-content>
    <ion-grid class="page">
        <ion-row class="ion-justify-content-between">
          <ion-col>
              <ion-item>
                  <ion-label stacked> Nom </ion-label>
                  <ion-input type="text" [(ngModel)]="name" placeholder="Name"></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between">
            <ion-col>
                <ion-item>
                    <ion-label stacked> Missatge </ion-label>
                    <ion-input type="text" [(ngModel)]="message" placeholder="Message"></ion-input>
                </ion-item>
            </ion-col>
          </ion-row>
          <ion-row class="ion-justify-content-between">
              <ion-col>
                  <ion-button expand="full"
                              color="secondary"
                              (click)="joinChat()"
                              [disabled]="name === ''"> Unir-se com "{{ name }}" 
                  </ion-button>  
              </ion-col>
              <ion-col>
                  <ion-button expand="full"
                              color="secondary"
                              (click)="sendMessage()"
                              [disabled]="message === ''"> Enviar missatge 
                  </ion-button>  
              </ion-col>
              <ion-col>
                  <ion-button expand="full" 
                              routerLink="/chat"
                              routerDirection="root"> Chat
                  </ion-button>
              </ion-col>
            </ion-row>
      </ion-grid>      
</ion-content>
